.popup__modal {
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 36px;
  position: relative;
}

@media (max-width: 767px) {
  .popup__modal {
    height: 308px;
    width: 280px;
    padding: 50px 18px;
  }
}
