.profile-info__job {
  max-width: 100%;
  grid-area: second-row;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .profile-info__job {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
